In [33]:
import pandas as pd
import re
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
sns.set_style("dark")

In [2]:
%matplotlib

Using matplotlib backend: Qt5Agg

In [58]:
stonksSmall = ["AAPL",
               "TSLA",
               "AMZN",
               "GS",
               "NVDA",
               "MSFT",
               "GOOGL",
               "IBM"
]

In [59]:
stonks = ["TSLA",
  "VTI",
  "VWO",
  "NVDA",
  "MSFT",
  "IBM",
  "NIO",
  "V",
  "SQ",
  "TGT",
  "GOOGL",
  "AMZN",
  "AMD",
  "INTC",
  "AAPL",
  "UBER",
  "BAC",
  "SBUX",
  "GS",
  "XLK",
  "XLV",
  "JPM",
  "MLNK",
  "TCHEY",
  "SFTBY",
  "QCOM",
  "INTU"]

## Entities dataset

In [ ]:
entities = pd.read_csv("ENTITIES_36M.csv")

In [80]:
# entities = entities
entities.head()

,tweet_id,entity_type,text
0,865191269030612992,url,http://ih.advfn.com/p.php?pid=nmona&article=74...
1,865191269030612992,symbol,AMGN
2,865191271899570176,url,https://finance.yahoo.com/news/amgen-submits-b...
3,865191271899570176,hashtag,FDA
4,865191271899570176,hashtag,biotech

In [114]:
print(entities.info())
print(entities.describe())
# dropRecords = entities.size
# entities.dropna()
# print("Dropped: ", str(dropRecords - entities.size), "Records")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36482461 entries, 0 to 36482460
Data columns (total 3 columns):
tweet_id       int64
entity_type    object
text           object
dtypes: int64(1), object(2)
memory usage: 835.0+ MB
None
           tweet_id
count  3.648246e+07
mean   8.865870e+17
std    1.255335e+16
min    8.651913e+17
25%    8.757115e+17
50%    8.869405e+17
75%    8.975999e+17
max    9.080455e+17
Dropped:  0 Records

In [146]:
entity_types = entities[["entity_type", "text"]]
entity_types = entity_types.loc[entities["entity_type"] == "symbol"]
entity_types["text"] = entity_types["text"].str.upper()
entity_types

         entity_type  text
1             symbol  AMGN
8             symbol  AMGN
11            symbol   AEO
12            symbol   AMD
16            symbol  AMAT
...              ...   ...
36482455      symbol  TRIG
36482456      symbol   VRC
36482457      symbol   XEL
36482458      symbol   XVC
36482460      symbol   XOM

[19451737 rows x 2 columns]

In [147]:
entity_types["text"].iloc[:1_000_000].value_counts()#.plot.bar()
# entity_types.plot.bar(figsize=(15,15))

ERFB     21747
ELED     15521
CHRO     14707
PRGE     14024
BTC      12366
         ...
UOLGY        1
NAS          1
VVR          1
TW           1
LVLEF        1
Name: text, Length: 10204, dtype: int64

In [148]:
print(len(entity_types.loc[entity_types["text"] == "NVDA"]))

Empty DataFrame
Columns: [entity_type, text]
Index: []
96399

In [156]:
# entity_types.loc[entity_types["text"].str.match("aapl", flags=re.IGNORECASE, na=False)]
entity_types.loc[entity_types["text"] == "AAPL"]

         entity_type  text
41            symbol  AAPL
47            symbol  AAPL
158           symbol  AAPL
180           symbol  AAPL
233           symbol  AAPL
...              ...   ...
36479749      symbol  AAPL
36479865      symbol  AAPL
36480060      symbol  AAPL
36480249      symbol  AAPL
36482011      symbol  AAPL

[300414 rows x 2 columns]

In [166]:
# entity_types["text"].iloc[:1000].value_counts().plot.bar(figsize=(15,15))
# entity_types["text"].loc[entity_types["text"].str.match("aapl", flags=re.IGNORECASE,\
#                                                          na=False)].value_counts().plot.bar(figsize=(15,15))

In [170]:
entity_types["text"].loc[entity_types["text"].isin(stonks)].value_counts().plot.bar(figsize=(15,15))

## Tweets dataset

In [51]:
tweetsDf = pd.read_csv("TWEETS_9M.csv")

In [52]:
tweetsDf.head()
# tweetsDf.info()
# tweetsDf.describe()

,id,text,user_id,in_reply_to_status_id,in_reply_to_user_id,retweeted_status_id,retweeted_user_id,lang,source,created_at
0,865326129644797957,RT @cruzfloresiv: To all the weak hands who so...,859451814940336128,0,0,865323140531896320,3005609114,en,"<a href=""http://twitter.com/download/iphone"" r...",Thu May 18 22:00:00 +0000 2017
1,865326133008642049,"Investors Eye Fed, But Bond ETFs Still Add Ass...",44060322,0,0,0,0,en,"<a href=""https://about.twitter.com/products/tw...",Thu May 18 22:00:01 +0000 2017
2,865326134262681600,Sell $NLNK (Ne❑wLink Genetics Corporation) tha...,713570637306986496,0,0,0,0,en,"<a href=""https://u.9999yea.rs/bots/"" rel=""nofo...",Thu May 18 22:00:02 +0000 2017
3,865326134917050368,Increase: $VCO $NTES $BPT $ENIC $QIWI $JP $STX...,823239593151655936,0,0,0,0,en,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",Thu May 18 22:00:02 +0000 2017
4,865326135952855040,"Former #FDA commissioner Califf joins Verily, ...",44367489,0,0,0,0,en,"<a href=""https://about.twitter.com/products/tw...",Thu May 18 22:00:02 +0000 2017

In [53]:
# stockTweets = stockTweets.loc[entities["text"] == "symbol"]
# tweetsDf = tweetsDf.loc[tweetsDf["text"].str.contains("(\$([a-z]|[A-Z]))\w*", flags=re.IGNORECASE,\
#                                                          na=False)]#.value_counts().plot.bar(figsize=(15,15))
# tweetsDf

In [54]:
regexp = re.compile(r'\$([\w]{1,})')
tweetsDf["stock"] = [re.findall(regexp, ele.upper())[0] if regexp.search(ele) else "none" for ele in tweetsDf["text"]]
#                         .contains("(\$([a-z]|[A-Z]))\w+", flags=re.IGNORECASE,\
#                                                          na=False) else "none" for ele in stockTweets["text"]]

In [55]:
stockTweets = tweetsDf[["stock", "text", "created_at"]]

In [56]:
stockTweets

,stock,text,created_at
0,LTC,RT @cruzfloresiv: To all the weak hands who so...,Thu May 18 22:00:00 +0000 2017
1,IEF,"Investors Eye Fed, But Bond ETFs Still Add Ass...",Thu May 18 22:00:01 +0000 2017
2,NLNK,Sell $NLNK (Ne❑wLink Genetics Corporation) tha...,Thu May 18 22:00:02 +0000 2017
3,VCO,Increase: $VCO $NTES $BPT $ENIC $QIWI $JP $STX...,Thu May 18 22:00:02 +0000 2017
4,GOOG,"Former #FDA commissioner Califf joins Verily, ...",Thu May 18 22:00:02 +0000 2017
...,...,...,...
9091534,PCYO,Contrasting Pure Cycle Corporation $PCYO &amp;...,Tue Sep 12 21:59:53 +0000 2017
9091535,HBIO,Contrasting Harvard Bioscience $HBIO &amp; Ful...,Tue Sep 12 21:59:54 +0000 2017
9091536,NRG,"NRG Energy, Inc. $NRG Receives $21.13 Average ...",Tue Sep 12 21:59:55 +0000 2017
9091537,ARTH,Reviewing Arch Therapeutics $ARTH and Globus M...,Tue Sep 12 21:59:56 +0000 2017
9091538,JD,$JD Beginning stage of a breakout. Strong buy ...,Tue Sep 12 21:59:56 +0000 2017

### plot tweets with stock names

In [60]:
# stockTweets["stock"].loc[stockTweets["stock"].isin(stonks)].value_counts().plot.bar(figsize=(15,15))
stockTweets["stock"].loc[stockTweets["stock"].isin(stonksSmall)].value_counts().plot.bar(figsize=(15,15))

In [61]:
stockTweets.loc[stockTweets["stock"] == "NVDA"]

,stock,text,created_at
367,NVDA,RT @miriamgottfried: Nvidia’s Growth Is the En...,Thu May 18 22:05:15 +0000 2017
568,NVDA,$NVDA is going higher! #long #calls #videogame...,Thu May 18 22:08:49 +0000 2017
1423,NVDA,$NVDA macd extremely bullish! possibly back to...,Thu May 18 22:25:55 +0000 2017
1452,NVDA,RT @option_snipper: $NVDA macd extremely bulli...,Thu May 18 22:26:33 +0000 2017
1466,NVDA,RT @option_snipper: $NVDA macd extremely bulli...,Thu May 18 22:26:55 +0000 2017
...,...,...,...
9089495,NVDA,$NVDA into the close. wow https://t.co/cPM34GtXiT,Tue Sep 12 21:24:32 +0000 2017
9090703,NVDA,RT @1simpletrader: $NVDA into the close. wow h...,Tue Sep 12 21:42:55 +0000 2017
9090728,NVDA,RT @Lin_ling_88: #Analysts:Nvidia and AMD aren...,Tue Sep 12 21:43:11 +0000 2017
9091305,NVDA,$NVDA daily updatedDamn thing hasn't even blow...,Tue Sep 12 21:55:15 +0000 2017
9091479,NVDA,RT @MindMakesMatter: $NVDA daily updatedDamn t...,Tue Sep 12 21:58:58 +0000 2017

In [36]:
dataset = stockTweets.loc[stockTweets["stock"].isin(stonksSmall)]
dataset

,stock,text,created_at
18,AAPL,Why Fitbit Inc. Shareholders Have Something to...,Thu May 18 22:00:12 +0000 2017
25,AAPL,RT SeekingAlpha: May Shopping List: Building U...,Thu May 18 22:00:21 +0000 2017
104,AAPL,RT @AlertTrade: May Shopping List: Building Up...,Thu May 18 22:01:36 +0000 2017
124,TSLA,"So, roughly...the size of 1.2 Teslas. (The com...",Thu May 18 22:01:56 +0000 2017
209,AAPL,RT @learnstocks101: Free video w/setups for Ma...,Thu May 18 22:02:31 +0000 2017
...,...,...,...
9091524,AAPL,The #iPhone Forever Changed Our Lives $AAPL ht...,Tue Sep 12 21:59:44 +0000 2017
9091530,AAPL,$AAPL Can do this for a while w/o need for rei...,Tue Sep 12 21:59:51 +0000 2017
9091531,AAPL,The New #Apple Watch Is Basically Also a Smart...,Tue Sep 12 21:59:53 +0000 2017
9091532,AAPL,The #iPhone Forever Changed Our Lives $AAPL ht...,Tue Sep 12 21:59:53 +0000 2017
9091533,AAPL,"#Apple Watch Series 3 is here, LTE, barometric...",Tue Sep 12 21:59:53 +0000 2017

In [37]:
print(dataset.iloc[1,1])

RT SeekingAlpha: May Shopping List: Building Up Our Smaller Positions https://t.co/i1yAdFMA2L $AAPL #APPLE $D $PEP

In [45]:
# regexp = re.compile(r'(\w{1,} \d{1,} \d{1,}:\d{1,}:\d{1,})+') ##with exact time
regexp = re.compile(r'(\w{1,} \d{1,} )+')
dataset["created_at"] = [re.findall(regexp, ele.strip())[0] + "2017" if regexp.search(ele) else "none" for ele in dataset["created_at"]]
dataset

C:\Users\Telahun\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

        stock                                               text   created_at
18       AAPL  Why Fitbit Inc. Shareholders Have Something to...  May 18 2017
25       AAPL  RT SeekingAlpha: May Shopping List: Building U...  May 18 2017
104      AAPL  RT @AlertTrade: May Shopping List: Building Up...  May 18 2017
124      TSLA  So, roughly...the size of 1.2 Teslas. (The com...  May 18 2017
209      AAPL  RT @learnstocks101: Free video w/setups for Ma...  May 18 2017
...       ...                                                ...          ...
9091524  AAPL  The #iPhone Forever Changed Our Lives $AAPL ht...  Sep 12 2017
9091530  AAPL  $AAPL Can do this for a while w/o need for rei...  Sep 12 2017
9091531  AAPL  The New #Apple Watch Is Basically Also a Smart...  Sep 12 2017
9091532  AAPL  The #iPhone Forever Changed Our Lives $AAPL ht...  Sep 12 2017
9091533  AAPL  #Apple Watch Series 3 is here, LTE, barometric...  Sep 12 2017

[544834 rows x 3 columns]

### plot dates of all tweets

In [46]:
dataset["created_at"].value_counts().plot.bar(figsize=(15,15))

## NVDA

In [131]:
# NVDA = dataset.iloc[dataset.loc[dataset["stock"] == "NVDA"]["created_at"].value_counts()]
NVDA = dataset.loc[dataset["stock"] == "NVDA"]
tweets_per_day = NVDA.created_at.value_counts()
# tweets_per_day = tweets_per_day[tweets_per_day < 500]  ## less than
tweets_per_day = tweets_per_day[tweets_per_day.between(20, 110)] ## between
# NVDA
tweets_per_day
# tweets_per_day.plot.bar(figsize=(15,15))

May 29 2017    110
Aug 27 2017    105
May 27 2017    105
Jun 25 2017    103
Aug 26 2017    102
Sep 04 2017    101
Jun 03 2017     98
May 20 2017     92
Jul 29 2017     89
Jul 23 2017     87
Jun 04 2017     84
Jun 17 2017     81
Jul 08 2017     81
May 21 2017     80
May 28 2017     77
Jul 09 2017     74
Aug 20 2017     68
Jul 30 2017     68
Jun 18 2017     62
May 18 2017     23
Name: created_at, dtype: int64

In [118]:
tweets_Of_days = NVDA[NVDA["created_at"].isin(tweets_per_day.keys())] ## all days
# tweets_Of_days = NVDA[NVDA["created_at"] == tweets_per_day.keys()[0]] ## specific day
# tweets_Of_days = NVDA["text"].loc[NVDA["created_at"].isin(tweets_per_day.keys())] ## just text

tweets_Of_days

187117     Don't miss our next FREE OPTION TRADE.  Sign u...
187192     RT @ExactOptionPick: Don't miss our next FREE ...
187193     RT @ExactOptionPick: Don't miss our next FREE ...
187194     RT @ExactOptionPick: Don't miss our next FREE ...
187713     https://t.co/0aqGg8stvTNVIDIA Teams with Faceb...
                                 ...
6698586    NVIDIA Corporation Stomped Second-Quarter Guid...
6698726    Avinash Anantharamu: I took a position in $NVD...
6698837    RT @naashonomics: $NVDA 180-200 run coming hop...
6698847    $NVDA is in EMA33 Breakout winning 82.26% in t...
6699035    $nvda with a monster day today. Feeling like t...
Name: text, Length: 19026, dtype: object

'Jun 09 2017'

In [117]:
tweets_per_day.plot.bar(figsize=(15,15))

# Entities dataset

In [6]:
companiesDf = pd.read_csv("COMPANIES_30K.csv")

In [14]:
companiesDf.head(66)
# companiesDf.info()
# companiesDf.describe()

   ticker                  name exchange  capitalization
0       A  Agilent Technologies     NYSE    1.915000e+10
1      AA            Alcoa Corp     NYSE    6.480000e+09
2    AAAG  AAA Century Group US  OTCMKTS    9.480000e+06
3   AAAIF  ALTERNATIVE INV TR N  OTCMKTS    7.840000e+06
4   AAALF    AAREAL BANK AG NPV  OTCMKTS    1.720000e+09
..    ...                   ...      ...             ...
61   AAPC  AMERICAN ARCHTECHUAL  OTCMKTS             NaN
62  AAPEF         ASIA- PACIFIC  OTCMKTS    1.721000e+07
63   AAPH  American Petro-Hunte  OTCMKTS    8.034400e+04
64   AAPJ               AAP Inc  OTCMKTS    8.462000e+04
65   AAPL            Apple Inc.   NASDAQ    7.485500e+11

[66 rows x 4 columns]

In [22]:
company_info = companiesDf.loc[companiesDf.ticker.isin(stonks)]

In [23]:
company_info

      ticker                  name  exchange  capitalization
65      AAPL            Apple Inc.    NASDAQ    7.485500e+11
1238     AMD  Advanced Micro Devic    NASDAQ    1.214000e+10
1392    AMZN      Amazon.com, Inc.    NASDAQ    4.574300e+11
2619     BAC  Bank of America Corp      NYSE    2.522900e+11
11782  GOOGL          Alphabet Inc    NASDAQ    6.413400e+11
12033     GS  Goldman Sachs Group       NYSE    8.973000e+10
13467    IBM  International Busine      NYSE    1.421600e+11
14148   INTC     Intel Corporation    NASDAQ    1.625300e+11
14160   INTU           Intuit Inc.    NASDAQ    3.373000e+10
17496   MLNK  ModusLink Global Sol    NASDAQ    9.001000e+07
17985   MSFT  Microsoft Corporatio    NASDAQ    5.364600e+11
18830    NIO  Nuveen Municipal Opp      NYSE    1.400000e+09
19404   NVDA    NVIDIA Corporation    NASDAQ    8.765000e+10
22134   QCOM        QUALCOMM, Inc.    NASDAQ    7.999000e+10
23509   SBUX  Starbucks Corporatio    NASDAQ    8.248000e+10
23911  SFTBY  Softbank Corp. (Japa   OTCMKTS    8.959000e+10
25107     SQ            Square Inc      NYSE    8.560000e+09
26359    TGT    Target Corporation      NYSE    2.738000e+10
27171   TSLA             Tesla Inc    NASDAQ    5.394000e+10
28025      V              Visa Inc      NYSE    2.227700e+11
28585    VTI  Vanguard Total Stock  NYSEARCA    7.972000e+10
28654    VWO  Vanguard Emerging Ma  NYSEARCA    5.687000e+10
29467    XLK  Technology Select Se  NYSEARCA    1.644000e+10
29476    XLV  Health Care SPDR (ET  NYSEARCA    1.761000e+10

In [3]:
import yfinance as yf
nvda = yf.Ticker("NVDA")
history = nvda.history(period='max')
plt.plot(history)

[<matplotlib.lines.Line2D at 0x214d4102c88>,
 <matplotlib.lines.Line2D at 0x214d417dc88>,
 <matplotlib.lines.Line2D at 0x214d417df28>,
 <matplotlib.lines.Line2D at 0x214d40550f0>,
 <matplotlib.lines.Line2D at 0x214d4055278>,
 <matplotlib.lines.Line2D at 0x214d4055400>,
 <matplotlib.lines.Line2D at 0x214d4055588>]

In [42]:
history.Open.size

5308

In [50]:
from visdom import Visdom
v = Visdom()
v.line(X=np.arange(5308), Y=history.High,
       opts=dict(title="NVDA stock", xlabel='# of days', ylabel='price'))

'window_383a5b82271828'

In [72]:
v.bar(X=stockTweets["stock"].loc[stockTweets["stock"].isin(stonksSmall)].value_counts(), Y=stonksSmall)
#      opts=dict(xtickvals='stonksSmall'))

'window_383a66baeff4da'

In [68]:
stonksSmall

['AAPL', 'TSLA', 'AMZN', 'GS', 'NVDA', 'MSFT', 'GOOGL', 'IBM']